@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400;500;700&display=swap');
/* font-family: 'Alegreya Sans SC', sans-serif; */

#root {
  min-height: inherit;
}

main {
  /* padding-bottom: 2rem; */
  position: relative;
  min-height: inherit;
  padding-bottom: 2rem;
}

h1 {
  background-color: hsl(0, 0%, 96%);
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

h1 > a, h3 > a {
  text-decoration: none;
}

a:visited {
  color: hsl(0, 0%, 20%);
}

a {
  color: hsl(0, 0%, 20%);
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: .5rem;
}

h5 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .5rem;
}

.hidden {
  display: none;
}

#decor-dragon {
  z-index: -1;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 150px;
  height: auto;
  opacity: .5;
  filter: brightness(1.5);
}

.primary-nav {
  z-index: 1;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: hsl(0, 0%, 96%);
  margin-bottom: 1.5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0px 7px 10px -5px hsl(0, 0%, 20%);
  width: 100%;
}

.primary-nav > ul {
  font-family: 'Alegreya Sans SC', sans-serif;
  display: inline-flex;
  justify-content: space-around;
  width: inherit;
}

.primary-nav > ul > li > a,
.project-nav > ul > li > a {
  text-decoration: none;
  font-size: 1.25rem;
}

.primary-nav > ul > li > a:visited,
.project-nav > ul > li > a:visited {
  color: hsl(0, 0%, 20%);
}

.primary-nav > ul > li > .active,
.project-nav > ul > li > .active {
  font-weight: 700;
}

section {
  margin-left: 10%;
  margin-right: 10%;
  background-color: hsl(0, 0%, 96%);
  padding: 1rem;
  border-radius: 6px;
  height: fit-content;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

iframe {
  margin-bottom: 1rem;
  border-radius: 6px;
  box-shadow: 4px 4px 12px -5px hsl(0, 0%, 70%);
}

section.medium-widget {
  margin-left: 1rem;
  margin-right: 0;
}

.medium-widget-article__row {
  box-shadow: 4px 4px 12px -5px hsl(0, 0%, 70%);
  border-radius: 5px;
}

div.contrib-footer, div.day-tooltip {
  text-align: center;
}

text.wday, text.month {
  font-size: .75rem;
}

div.contrib-legend {
  display: none; 
}

#git-hub-calendar {
  margin-left: 1rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 0px 10px -3px hsl(0, 0%, 70%);
  border-radius: 6px;
  /* Widget auto-loads a min-height of 175px, even when set to responsive.
  I chose to override with a highly specific tag rather than adding more
  on 'load' logic to React. */
  min-height: fit-content !important;
}

.project-item {
  padding: .75rem;
  box-shadow: 0px 0px 10px -6px hsl(0, 0%, 70%);
  border-radius: 6px;
}

.project-nav > ul {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  font-size: 1rem;
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid hsl(0, 0%, 20%);
}

.more-info {
  border: none;
  background-color: hsl(0, 0%, 98%);
  font-size: 1.5rem;
  margin-left: .5rem;
  transform: translateY(2px);
}

.external-link > a {
  margin-right: 1rem;
}

.slick-prev:before, .slick-next:before {
  color: hsl(0, 0%, 20%);
}

.carousel-image {
  /* Override Library (slick) inline styling */
  width: 95% !important;
  margin-left: 2.5%;
  border-radius: 6px;
  box-shadow: 0px 0px 10px -6px hsl(0, 0%, 20%);
}
